<div class="box">
  <img src="https://upload.wikimedia.org/wikipedia/en/0/00/Aldar_Headquarters_Building.jpg" alt="building3" style="width: 250px;height: 250px;border: 0;">
  <h3 class="boxes button">
    <a href="rooms.html">
      Building 3
    </a>
  </h3>
</div>