
<%= link_to 'new lesson', new_building_room_lesson_path %>



<div>
  <table style="width: 100%">
    <tr>
      <th>Time / Days</th>
      <th>8:00 - 9:00</th>
      <th>10:00 - 11:00</th>
      <th>11:00 - 12:00</th>
      <th>13:00 - 14:00</th>
      <th>14:00 - 15:00</th>
      <th>15:00 - 16:00</th>
      <th>16:00 - 17:00</th>
      <th>18:00 - 19:00</th>
    </tr>
    <% 7.times do |day| %>
      <% current_lessons = @lessons.select{|l| l.day == day}  %>
      <tr>
        <td>
          <%= Date::DAYNAMES[day] %>
        </td>
        <%= generate_hours(current_lessons) %>
      </tr>
    <% end %>
    <!--
    <tr>
      <td>MON</td>
      <td>MA1</td>
      <td>WEB</td>
      <td></td>
      <td>FIL</td>
      <td>POL</td>
    </tr>
    <tr>
      <td>TUE</td>
      <td>MA1</td>
      <td>WEB</td>
      <td>PR1</td>
      <td>SUP</td>
      <td>CSP</td>
    </tr>
    <tr>
      <td>WED</td>
      <td>MA2</td>
      <td></td>
      <td>PR1</td>
      <td></td>
      <td>CSP</td>
    </tr>
    <tr>
      <td>THU</td>
      <td>MA2</td>
      <td>EKO</td>
      <td></td>
      <td>SUP</td>
      <td>ORA</td>
    </tr>
    <tr>
      <td>FRI</td>
      <td>WHY</td>
      <td>EKO</td>
      <td>EDH</td>
      <td></td>
      <td>ORA</td>
    </tr>
    <tr>
      <td></td>
      <td>WHY</td>
      <td></td>
      <td>RU</td>
      <td>EDH</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>FIL</td>
      <td>EDH</td>
      <td>GER</td>
      <td>ENG</td>
    </tr>
    <tr>
      <td></td>
      <td>EDU</td>
      <td></td>
      <td>FR</td>
      <td>ENG</td>
    </tr>
    -->
  </table>
</div>
